@model IEnumerable<TestForMe.Models.Groups>

@{
    ViewData["Title"] = "ListOfCompany";
}

<h1>ListOfCompany</h1>

<p>
    <a asp-action="CallCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameofCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameofCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.ActionLink("Edit", "CallEdit", new { id = item.Id }) |
                @Html.ActionLink("Details", "CallDetails", new { id = item.Id }) |
                @Html.ActionLink("Delete", "CallDelete", new { id = item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
